@import '../../assets/css/colors.scss';

.cart{
  padding: 3%;
  h2{
    margin: 0 0 1em;
    border-bottom: 1px solid;
  }
  .cartItem{
    padding: 0.5em 1em;
    &:nth-child(odd){
      background-color: aliceblue;
    }
    div{
      text-align: right;
      display: inline-block;
    }
    .name{
      font-size: large;
      text-align: left;
      width: 40%;
      span{
        padding-left: 1em;
      }
    }
    .quantityChanger{
      width: 20%;
    }
    .total{
      width: 10%;
    }
    .removeItem{
      padding-left: 2em;
    }
    img{
      height: 4em;
      vertical-align: middle;
    }
  }
}