@import '../../assets/css/colors.scss';
@import '../../assets/css/fonts.scss';

.detailsContainer{
  height: 620px;
  background-repeat: no-repeat;
  background-position: top right;
  margin-bottom: 24px;
  padding-left: 20px;
  padding-right: 640px;
  .caption{
    font-family: $fancy;
    color: $scThemeOne;
    font-size: 1.5em;
    border-bottom: 1px solid;
    margin-bottom: 1em;
  }
  .description{
    color: $scThemeThree;
    word-spacing: 5px;
    line-height: 1.5em;
    text-align: justify;
  }
  .cost{
    text-align: right;
    font-weight: bold;
    color: $scThemeTwo;
  }
  .addToCart{
    user-select: none;
    color: $dotColor;
    text-align: right;
    background-color: $scThemeThree;
    margin-top: 1em;
    padding: 1em 0.5em;
    input{
      user-select: unset;
      width: 3em;
      font-size: 1em;
      margin-right: 0.75em;
      background-color: $dotColor;
      color: $scThemeThree;
      font-weight: bolder;
      text-align: center;
    }
  }
}