@import '../../assets/css/colors.scss';
@import '../../assets/css/fonts.scss';

.productsError {
  padding: 2%;
  color: $error;
  font-size: large;
  .stack{
    font-size: small;
  }
  .getAllProductsError{
    font-weight: bold;
    font-size: x-large;
  }
  .errorUrl{
    font-family: 'Courier New', Courier, monospace;
  }
}

.products{
  text-align: center;
  :nth-child(3n+1){
    color: $scThemeThree;
  }
  :nth-child(3n+2){
    color: $scThemeTwo;
  }
  :nth-child(3n+3){
    color: $scThemeOne;
  }
  .cupCake{
    display: inline-block;
    width: 25%;
    height: 300px;
    border-top: 12px solid;
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 2px;
    vertical-align: top;
    font-weight: bold;
    .name{
      padding-bottom: 1em;
    }
    .cost{
      float: right;
      font-weight: 200;
    }
    .caption{
      font-family: $fancy;
      font-size: large;
    }
  }  
}