@import '../../assets/css/colors.scss';

.sweetButton{
  user-select: none;
  border: 2px solid transparent;
  padding: 7px 5px;
  vertical-align: baseline;
  &:hover{
    border: 2px outset $dotColor;
  }
  &:active{
    border: 2px inset $dotColor;
  }
  span{
    cursor: pointer;
    vertical-align: middle;
    &.material-icons{
      font-size: large;
    }
  }
}