$primary-text-color: #754b23;

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: $primary-text-color;
}
a, a:visited, a:active {
  color: $primary-text-color;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.app {
  .center{
    text-align: center;
  }
  .container{
    margin: auto;
    width: 1000px;
  }
}