@import './colors.scss';

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  color: $primary-text-color;
}
.app {
  .center{
    text-align: center;
  }
  .container{
    margin: auto;
    width: 1000px;
  }
}