@import '../../assets/css/colors.scss';

.contactUs {
  padding: 1% 3%;
  a, a:visited, a:hover {
    color: $scThemeThree;
  }
}
.contactInfo {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  text-align: justify;
  img {
    transform: translate(250%, 10%);
  }
}