.headerNav {
  text-align: right;
  text-transform: uppercase;
  LI {
    display: inline-block;
    list-style: none;
    margin-right: 2.75em;
  }
}
.motto {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
  margin: 0.75em 0;
}