@import '../../assets/css/colors.scss';

.footer{
  background-color: $scThemeThree;
  width: 1000px;
  bottom: 0;
  height: 80px;
  color: $dotColor;
  div {
    display: inline-block;
    text-align: center;
    width: 15%;
    transform: translateY(50%);
  }
  .copy{
    width: 70%;
    transform: translateY(65%);
  }
  .phone{
    text-align: left;
    font-size: small;
    img {
      padding-right: 5px;
    }
  }
}