@import '../../assets/css/colors.scss';

.main-nav {
  text-align: right;
  text-transform: uppercase;
  .navItem {
    display: inline-block;
    list-style: none;
    margin-right: 2em;
    vertical-align: middle;
  }
}
a:any-link {
  color: $primaryText;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}